examples/state/branching/state-machine.json
{
  "Comment": "Coat Indicator State Machine",
  "StartAt": "WhichCoat",
  "States": {
    "WhichCoat": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Weather",
          "StringEquals": "FREEZING",
          "Next": "WearHeavyCoat"
        },
        {
          "Variable": "$.Weather",
          "StringEquals": "COOL",
          "Next": "WearLightJacket"
        },
        {
          "Variable": "$.Weather",
          "StringEquals": "WARM",
          "Next": "None"
        }
      ]
    },
    "WearHeavyCoat": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "wear-heavy-coat",
        "Payload": {
            "Weather": "$.Weather"
          }
      },
      "End": true
    },
    "WearLightJacket": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "wear-light-jacket",
        "Payload": {
            "Weather": "$.Weather"
          }
      },
      "End": true
    },
    "None": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "no-coat",
        "Payload": {
            "Weather": "$.Weather"
        }
      },
      "End": true
    }
  }
}
