examples/state/map/topology.yml
name: example-map
kind: step-function
flow:
  Comment: Example Mapper
  StartAt: mapper
  TimeoutSeconds: 1200
  States:
    mapper:
      Type: Task
      Resource: arn:aws:states:::lambda:invoke
      OutputPath: $.Payload
      Parameters:
        FunctionName: '{{namespace}}_mapper_{{sandbox}}'
        Payload:
          metadata.$: $.detail.metadata
          execution.$: $$.Execution
          data.$: $.detail.data
          Next: map-tasks

    map-tasks:
      Type: Map
      ToleratedFailurePercentage: 100
      Next: reduce
      ItemsPath: $
      Parameters:
        Index.$: $$.Map.Item.Index
        Value.$: $$.Map.Item.Value
      Iterator:
        StartAt: process
        States:
          process:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            OutputPath: $.Payload
            Parameters:
              FunctionName: '{{namespace}}_processor_{{sandbox}}'
              Payload:
                data.$: $.Value
            TimeoutSeconds: 900
            End: true

    reduce:
      Type: Task
      Resource: arn:aws:states:::lambda:invoke
      OutputPath: $.Payload
      Parameters:
        FunctionName: '{{namespace}}_reducer_{{sandbox}}'
        Payload:
          items.$: $
      End: true
