examples/route/topology.yml
name: example-router-api
kind: step-function
events:
  consumes:
    FooAPIEvent:
      producer: apiHandler

routes:
  api:
    gateway: api-test
    proxy: '{{namespace}}_foo_{{sandbox}}'
    kind: http
    timeout: 10
    async: true
    method: POST
    path: "/api/foo"

  doc:
    gateway: api-test
    proxy: none
    kind: http
    timeout: 10
    async: true
    method: POST
    path: "/api/doc"

flow:
  Comment: default topology
  StartAt: route
  TimeoutSeconds: 600
  States:
    route:
      Type: Choice
      Choices:
        - Variable: $.path
          StringEquals: "/api/foo"
          Next: foo
        - Variable: $.path
          StringEquals: "/api/bar"
          Next: bar
      Default: baz

    foo:
      Type: Task
      Resource: arn:aws:states:::lambda:invoke
      OutputPath: $.Payload
      Parameters:
        FunctionName: '{{namespace}}_foo_{{sandbox}}'
        Payload:
            data.$: $.body
      End: True

    bar:
      Type: Task
      Resource: arn:aws:states:::lambda:invoke
      OutputPath: $.Payload
      Parameters:
        FunctionName: '{{namespace}}_bar_{{sandbox}}'
        Payload:
            data.$: $.body
      End: True

    baz:
      Type: Task
      Resource: arn:aws:states:::lambda:invoke
      OutputPath: $.Payload
      Parameters:
        FunctionName: '{{namespace}}_baz_{{sandbox}}'
        Payload:
            data.$: $.body
      End: True
